@font-face {
  font-family: 'TheStrongGamer';
  src: url(/fonts/x8y12pxTheStrongGamer.ttf);
}

html, body, #__next {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}
* {
    box-sizing: border-box;
}

